@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(44, 107, 190, 0.15) 100%), #f1f1f1;
    background-attachment: fixed;
    background-repeat:no-repeat ;
    overflow: hidden;
}